<h1> exemple paragraphe </h1>
<p #paragraphe="hl" highlight background-color="green" base-color="purple">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
  Distinctio ea earum maiores provident est quis iure deserunt similique blanditiis. 
  Necessitatibus harum explicabo tenetur natus ad doloribus assumenda rem? Accusamus, natus.
</p>
<button (click)="paragraphe.onMouseEnter()">Changer la couleur</button>

<p #paragraphe="hl" highlight background-color="green">Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
  Maxime quod eos rem vel animi, 
  sint nisi voluptatibus soluta odio cumque sequi quo corporis molestias tempore qui iste fugit veniam officiis.
</p><br>
<hr><br>

<h1>Action avec les liens </h1>
<a no-open href="https://google.com">Google !</a><br>
<a confirm confirm-message="Êtes vous sur de vouloir aller sur twitter ?!" href="https://twitter.com">Twitter !</a><br>
<hr><br>


